*{
    box-sizing: border-box;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: #777;
    color: var(--main-color);
}
img{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755
}
body{
    font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
}
 .container{
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width : 768px){
    .container{
        width: 740px;
    }
}
/* medium */
@media (min-width : 992px){
    .container{
        width: 960px;
    }
}
/* large*/
@media (min-width : 1200px){
    .container{
        width: 1160px;
    }
}
/* start special heading */

.special-heading{
    color: #ebeced;
    font-size: 100px; 
    letter-spacing: -2px;
    margin: 0;
    text-align: center;
    font-weight: 800;
}
.special-heading + p{
    color: #777;
    margin: -30px auto 0;
    text-align: center;
    font-weight: 400;
}
/* end special heading */
@media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
}
}
/* start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    height: 2px;
    margin-bottom: 4px;
    background-color: #333;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    background-color: #f6f6f6;
    min-width: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    list-style: none;
    display: none;
    z-index: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links:hover ul{
    display: block;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #aaa transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: #ddd 2px solid;
}
/* end header */
/* start landing section  */
.landing{
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text{
    text-transform: capitalize;
    font-size: 19px;
    line-height: 1.8;
}

/* end landing section  */
/* start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
}
.features .container .feat{
    padding:20px;
    text-align: center;
}
.features .container .feat i{
    color: var(--main-color);
}
.features .container .feat h3{
    color: #333;
    font-weight: 800;
}
.features .container .feat p{
    color: #777;
    line-height: 1.7;
}
/* end features */
/* start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;

}
.services .container{
    margin: auto;
    position: relative;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0;
    font-weight: 800;
    color: #333;
}
.services .services-content .srv .text p{
    line-height: 1.8;
    color: #777;
}
.services .services-content .srv .image{
    text-align: center;
    position: relative;
}
@media (max-width:1199px){
    .services .services-content .image{
        display: none ; 
    }
}
.services .services-content .image img{
    width: 350px;
    margin: 0;
    height: 100%;
    box-shadow:0px 0px 12px 0 rgb(0, 0, 0) ;
}
.services .services-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    top: 25%;
    width: 70px;
    height: calc(100% - 150px);
    right: 10px;
    z-index: -1
}
/* end services */

/* start portfolio */
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    background-color: #f6f6f6;
    justify-content: center;
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
    color: #333;
    margin: 0;
}
.portfolio .portfolio-content .card{
    margin-bottom: 0;
    color: #777;
    line-height: 1.7;
}
/* end portfolio */
/* start about */
.about .about-content{
    margin-top: 80px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.about .about-content .image{
    position: relative;

}
.about .about-content .image img{
    max-width: 100%;
    box-shadow: 0 0 12px 0 black;
}
@media (max-width:1199px){
    .about .about-content .image {
        display: none;
    }
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: -25px;
    width: 80px;
    height: calc(100% + 50px);
    right: 10px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    bottom: -25px;
    width: 80px;
    height: 50px;
    right: -45px;
    z-index: -1;
}
.about .about-content .text{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}
.about .about-content .text p{
    color: #333;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
}
.about .about-content .text hr{
    height: 1px;
    width: 50%;
    background-color: var(--main-color);
}
/* end about */
/* start contact */
.contact{
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
    color: var(--secondary-color);
}
.contact .info .link{
    font-weight: 800;
    font-size: 30px;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
    word-spacing: 1px;
}
.contact .info .social i{
    margin-left: 20px;
    color: var(--secondary-color);
}
@media (max-width:767px){
    .contact .info .label ,
    .contact .info .link ,
    .social{
        font-size: 17px;
        margin: auto;
    }
    .contact .info .social{
        font-size: 14px;
        word-spacing: -1px;
    }
    .contact .info .social i{
        font-size: 20px;
    }
}
/* end contact */
/* start footer  */
.footer {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 30px 10px;
    background-color: var(--secondary-color);
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer  */